Package: roman-baseapps
Version: 1.5-1
Section: misc
Architecture: all
Depends: bash, mc, htop, dump, aptitude, python3
Recommends: gparted, wajig
Maintainer: Roman <kvirikroma@gmail.com>
Description: Pack of helpful scripts and dependencies.
