Package: roman-baseapps
Version: 1.2-1
Section: misc
Architecture: all
Depends: bash, mc, htop, dump, aptitude
Recommends: gparted, wajig, python3
Maintainer: Roman <kvirikroma@gmail.com>
Description: Pack of helpful scripts and dependencies.
