Package: useful-package
Version: 2.0-1
Section: misc
Architecture: all
Depends: bash, mc, htop, dump, aptitude, python3
Recommends: gparted, wajig
Maintainer: Roman <kvirikroma@gmail.com>
Description: Pack of helpful scripts and dependencies.
